@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffffff;
  --secondary-color: #f1ad3f;
  --btn-bg-color: #e1e1e7;
  --btn-color: #838388;
  --warning-color: #d1a154;
}

body {
  color: var(--primary-color);
  background: linear-gradient(123.95deg, rgba(0, 0, 0, 0.9) 12.92%, rgba(131, 0, 0, 0.9) 87%);
}


